.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.72rem;
}

.iconitem {
  display: inline-block;
  width: 25%;
  font-size: 0.24rem;
  text-align: center;
  color: #333;

  .icon {
    display: block;
    margin: 0 auto;
    font-size: 0.32rem;
    margin: 0 0 0.05rem;
  }

  &.active {
    color: blue;
  }
}
